body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/background-image.jpeg);
    background-position: center;
    font-family: "Poppins";
}

canvas {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#game-over-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#popup-content {
    background: #333;
    padding:25px;
    border-radius: 3px;
    text-align: center;
}

#start-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#start-button {
    font-size: 24px;
    padding: 40px 80px;
    background-image: url(assets/images/start.png);
    background-size: cover;   
    background-position: center;
    border: none;
    cursor: pointer;
}

#start-button:hover {
    opacity: 0.7;
}

#title {
    top: 5%;
    position: absolute;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}